<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% # Load and preload the critical CSS %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}

    <link rel="preload" href="https://fonts.gstatic.com/s/notosansarabic/v28/bMrm7ri0WZsUyYDfk4rfPJO3LUTMZKc.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://fonts.gstatic.com/s/notonaskharabic/v14/QldKNThW5Xtbjqeq9bgXfFqnX9fXpxWdVpo.woff2" as="font" type="font/woff2" crossorigin>

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body>
    {% sections 'header-group' %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}
  </body>
</html>
